<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }} - Mindbox Studios{% else %}{{ site.title }}{% endif %}</title>
    {% if page.description %}
        <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <meta name="robots" content="noindex, nofollow">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <script src="//use.typekit.net/xwo6trm.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic">
    <link rel="stylesheet" href="/css/main.css">
</head>
