<header class="header">
    <nav class="nav">
        <div class="container">

            <a href="http://mindboxstudios.com/">
                <img class="nav__img" src="/img/mindbox.png" alt="Mindbox Studios">
            </a>

        </div>
    </nav>


    <div class="hero" style="background-image: url(/img/foos.jpg)">
        <div class="hero__text">
            <div class="container-padding-only">
                <h1>Voice And Tone</h1>
                <h2>Mindbox Studios</h2>
            </div>
        </div>
    </div>
</header>
