/*
 * Sidenav
 */

@mixin bar {
    content: ' ';
    display: block;
    position: absolute;
    width: 2px;
    top: 0;
    bottom: 0;
    left: rem-calc(-9px);
    background-color: $link-color;
}

.sidenav {
    @include order(1);
    @include flex(0 0 100%);

    @media #{$medium-up} {
        @include flex(1);
        padding-right: rem-calc(10px);
    }

    font-family: $heading-font-family;
    font-size: rem-calc(22px);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: rem-calc(50px - $base-font-size) 0;

    p {
        margin: 0;
        padding-top: rem-calc(18px);
    }

    .sidenav__nav {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            position: relative;

            a {
                width: 100%;
                display: block;
                font-size: rem-calc(18px);
                color: $link-color;
                text-decoration: none;

                &:hover,
                &.active {
                    &:before {
                        @include bar;
                    }
                }
            }
        }
    }
}
